@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-color1 {
    background: #6495ED;
  }

  .bg-color2 {
    background: #7EB2D7;
  }

  .bg-color3 {
    background: #EECCA8;
  }

  .bg-color4 {
    background: #E0AF30;
  }

  .bg-color5 {
    background: #B08513;
  }
}

* {
  /* border: 1px solid black; */
}




/* #6495ED
#7EB2D7
#EECCA8
#E0AF30
#B08513 */